logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID

stale_outputs_checked

/.g8

/node_modules

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

/.cache

.DS_Store

.env

conf/secret.conf

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json